*{
    margin-left: 1%;
    Padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none; /* pas de decoration du texte, ici enleve le surlignage du lien */
}
body{
    font-family: 'Hedvig Letters Serif', serif; /* mise en forme police text de tt le body */
    width: 95%;
}
.navbar{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style-type: none; /* enlevement des pucces */
}
.Block1{
    width: 98%;
    position: relative;
}
.ecart1{
    margin-left: 20px;
    color:black;
}
.LogoIncrust{
    width: 30%;
    position: absolute;
    /* top: 10%; */
    bottom: 48%;
    right: 10%;
    /* left: 10%; */
}
.LogoIncrust2{
    width: 30%;
    position: absolute;
    /* top: 10%; */
    bottom:39.5%;
    right: 3%;
    /* left: 10%; */
}
.IncrustBox2film{
    position: absolute;
    /* top: 10%; */
    bottom:50%;
    right: 3%;
    left: 30%;  
}
.LogoIncrustboutique{
    width: 30%;
    position: absolute;
    /* top: 10%; */
    bottom: 45%;
    right: 1%;
    left: 6%;
    color: #FFFFFF;
}
.Lien2Incrustboutique{
    width: 30%;
    position: absolute;
    /* top: 10%; */
    bottom: 39%;
    right: 1%;
    left: 11%;
    color: #FFFFFF;
}
.lienIncrustboutique{
    width: 30%;
    position: absolute;
    /* top: 10%; */
    bottom: 33%;
    right: 1%;
    left: 18%;
    color: #FFFFFF;
}
.LogoIncrust12{
    width: 20%;
    position: absolute;
    top: 590%;
    bottom: 48%;
    right: 10%;
    left: 10%;
}
.action{
    border-radius: 20px;
    width: 20%;
    position: absolute;
    top:60%;
    bottom:35%;
    right: 15%;
}
.action2{
    border-radius: 20px;
    width: 20%;
    position: absolute;
    top:60%;
    bottom:35%;
    right: 15%;

}
.Abonnement{
    width: 10%;
    position: absolute;
    top:123%;
    right: 2%;
}
.Menubox{
    position: relative;
    width: 98%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 50px;
 
    background-color: rgb(232, 224, 224);
} 

.Wond{
    width: 99%; 
    margin-top:1%;
}
.wonddim2{

    width: 80%; 
    margin-top:1%;
}
.box12dim2{
    margin-right: 15%;
    background-color: #FFFFFF00;
    text-align: left;
    color:black;

}
.box_wonder{

    padding: 95px;
    background-color: #FFFFFF;
    text-align: left;

}
.box2{

    padding: 68px;
    background-color: #FFFFFF;
    text-align: left;

}
.box3{

    padding: 59px;
    background-color: #FFFFFF;
    text-align: left;

}
.box4{

    padding: 86px;
    background-color: #FFFFFF;
    text-align: left;

}
.boxjumelee{
    
    width:20%;   
    margin-top: 20px; 
    margin-bottom: 20px; 
    
}

.IncrustBox{
    position: absolute;
    /* top: 10%; */
    bottom:6%;
    right: 3%;
    left: 9%;  
}
.IncrustBox2{
    position: absolute;
    /* top: 10%; */
    bottom:6%;
    right: 3%;
    left: 30%;  
}
.IncrustBox3{
    position: absolute;
    /* top: 10%; */
    bottom:6%;
    right: 3%;
    left: 51%;  
}
.IncrustBox4{
    position: absolute;
    /* top: 10%; */
    bottom:6%;
    right: 3%;
    left: 72%;  
}
.menuBox2{
    display: flex;
    flex-direction: column;
    Background-color:#054553;
    color:white;
} 

.Wond2{
    width: 80%; 

}
.menubox3{
    position: relative;
    background-color: rgb(232, 224, 224);
    display: flex;
    flex-direction: column;

}    
.boxAlign2{
    display: flex;
    justify-content: center;
}   
.boxAlign4{
    display: flex;
    justify-content: center;
}   
.boxjumelee3{
    width:20%;
    display: flex;
    flex-direction: column;
    
}
.menubox4{
    background-color: rgb(232, 224, 224);
    display: flex;
    flex-direction: column;

}
.box_wonder2{

    background-color: #FFFFFF;
    text-align: left;
    
}
.box_wonder3{
    height: 450px;
    background-color: #FFFFFF;
    text-align: left;
    
} 
.box12{
    padding: 2.5em;
    background-color: #FFFFFF;
    text-align: left;

}
.box12spec{
    background-color: #FFFFFF;
    text-align: left;

}
.boxText12{
    padding:14%
}
.boxText13{
    padding-bottom: 15%;
}

.box13{

    padding: 75px;
    background-color: #FFFFFF;
    text-align: left;

}
.Wond5{
    width: 350px; 
    margin-top:1%;
}  
.Wond6{
    width: 380px; 
    margin-top:1%;
}   
.boxAlign3{
    display: flex;
    justify-content:center;
}   
.boxjumelee4{
    width: 40%;
    height:10%;
    display: flex;
    flex-direction: column;
   
}
.lienIncrustActu{
    width: 35%;
    position: absolute;
    /* top: 10%; */
    bottom: 40%;
    right: 1%;
    left: 32%;
    color: #FFFFFF;
    font-size: 3rem;
    
}
.actionActu{
    border-radius: 25px;
    width: 20%;
    height: 8%;
    position: absolute;
    top:60%;
    bottom:40%;
    right: 15%;
    left: 38.5%;
    font-size: 1rem;
}
.box16{
    width: 360px;
    background-color: #FFFFFF;
    text-align: left;

}

.boxAlign{
    display: flex;
   
}  
.boxjumelee2{
    width:96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.box5{
    padding: 20px;
    text-align: center;
}
.box6{
    padding: 20px;
 background-color: #FFFFFF00;
    text-align: center;  

}
.box7{
    padding: 20px;
    background-color: #FFFFFF00;
    text-align: center;

}
.action2{
    border-radius: 20px;
    width: 20%;
    display: block;
    
}
.box14{

    padding: 75px;
    background-color: #FFFFFF;
    text-align: left;

}
.TltleParcs{
    display:flex;
    justify-content: center;
    /* background-color: ; */
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(232, 224, 224);
}
.Block12{
    width:98%;
    position: relative;
}
.Wond3{
    width:100%; 
    background-color: #FFFFFF;
   
}

.LogoIncrust12{
    width: 20%;
    position: absolute;
    top: 590%;
    bottom: 48%;
    right: 10%;
    left: 10%;
}
.IncrustBox21{
    position: absolute;
    /* top: 10%; */
    bottom:6%;
    right: 3%;
    left: 9%;  
}
.IncrustBox22{
    position: absolute;
    /* top: 10%; */
    bottom:6%;
    right: 3%;
    left: 30%;  
}
.IncrustBox23{
    position: absolute;
    /* top: 10%; */
    bottom:6%;
    right: 3%;
    left: 51%;  
}
.IncrustBox24{
    position: absolute;
    /* top: 10%; */
    bottom:6%;
    right: 3%;
    left: 72%;  
}
.IncrustBox25{
    position: absolute;
    /* top: 10%; */
    bottom:6%;
    right: 3%;
    left: 72%;  
}
.MenuboxFooter{
    position: relative;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    border: 50px;
 
    background-color: rgb(232, 224, 224);
}
.centerFooter{
    
    

    
}